/* Reset default browser spacing */
body, h1, h2, p {
  margin: 10px;
  padding: 10;
}

/* General page setup */
body { 
      text-align: center; 
      background-color: #cbf3f1; 
      font-family: Helvetica, sans-serif;
        margin: 11%;
    }

/* Typography spacing */
h1 { font-size: 2em; margin-bottom: 10px; }  
h2 { margin-top: 10px; }
p  { margin: 1rem 0; }                        

/* Header */
header {
  background-color: #0077b6;
  color: white;
  padding: 20px 0;
}

/* Navigation menu */
 ul { 
       list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 200%}
nav ul li{
    display: inline-block;
    margin: 0 15px;
}
nav a:hover{
    background-color: #0096c7; 
}

/* Ordered list (for Resources page) */
ol {
    list-style-type: decimal;  
    list-style-position: inside;
    margin: 20px auto;
    text-align: left;
    max-width:600px;
    line-height:1.5;
}

/* Main content area */
main {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
}

/* Image & caption */
img {
  border-radius: 8px;
  margin-top: 15px;
  max-width: 100%;
  height: auto;
}

/* Footer */
footer {
  background-color: #0077b6;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
  margin-top: 30px;
}